* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
}
body {
    background: #f0e8f3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
#content {
    padding: 0 2rem;
}
.desc {
    color: gray;
}

.logo{
    width: 5rem;
    height: 5rem;
    background-image: url("../img/logos/LOGOS-04.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.oculto{
    display: none;
}

@media(max-width: 1050px) {
    .logo{
        width: 10rem;
        height: 10rem;
    }
}