section{
    padding: 2rem 3rem;
}

.sec_header{
    margin: 0 2rem;
}

.sec_header_2{
    text-align: center;
}

.little_pink_title{
    color: #d33ee0;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.sec_desc{
    color: rgb(97, 97, 97);
}

#general_catalogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
}